.category {
  display: flex;
  overflow-x: hidden;
  box-sizing: border-box;
  flex-direction: row;

  @media (min-width: @t-width) {
    justify-content: space-between;
  }
}

.page__category .products--similar .category {
  flex-direction: row;
}

.page__category .category {
  flex-direction: column;
  overflow-x: auto;
  gap: 16px;

  @media (min-width: @dop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @t-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  
}

.products--similar .category {
  @media (min-width: @d-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.category__item {
  border: 1px solid @colorDopGray;
  border-radius: 6px;
  min-width: 100%;
  
  @media (min-width: @t-width) {
    max-width: 33%;
    min-width: auto;
  }
}

.page__category .category__item  {
  @media (min-width: @t-width) {
    min-width: auto;
    max-width: none;
    width: 100%;
  }
}