
.characteristics {
  width: 100%;
}

.characteristics__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: @t-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.characteristics__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: @colorGray;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.14px;
  border-bottom: 1px dashed @colorDopGray;

  @media (min-width: @t-width) {
    width: calc(50% - 15px);
  }
}

.characteristics__item:nth-child(odd) {
  @media (min-width: @t-width) {
    order: 1;
  }
}

.characteristics__item:nth-child(even) {
  @media (min-width: @t-width) {
    order: 2;
  }
}

.characteristics__title,
.characteristics__description {
  color: @colorGray;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.14px;
}

.characteristics__description {
  color: @colorBlack;
}

.characteristics__link {
  color: @colorOrange;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.16px;
  text-decoration-line: underline;
  margin-top: 36px;

  @media (min-width: @t-width) {
    margin-top: 40px;
  }
}