.questions {
  padding-top: var(--sectionPT);
  padding-bottom: var(--sectionPB);
  background-color: @colorLightGray;
}

.questions--white {
  background-color: @colorWhite;
}

.questions__container {
  @media (min-width: @t-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.success__questions .questions__container {
  @media (min-width: @t-width) {
    display: block;
  }
}

.questions__wrapper__call,
.questions__wrapper-social {
  @media (min-width: @t-width) {
    flex: 0.8;
  }
}

.questions__wrapper-social {
  @media (min-width: @t-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.success__questions .questions__wrapper-social {
  @media (min-width: @t-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    row-gap: 10px;
  }
}

.questions__wrapper-social p.questions__text  {
  @media (min-width: @t-width) {
    order: 3;
  }
}

.questions__wrapper-button {
  @media (min-width: @t-width) {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.success__questions .questions__wrapper-button {
  @media (min-width: @t-width) {
    order: 4;
    width: 100%;
    margin-top: 18px;
  }
}

.questions__title {
  text-align: center;
}

.questions__text {
  text-align: center;
  line-height: 160%;
  margin-top: 8px;
}

.success__questions .questions__text {
  text-align: left;
}

.questions__text--margin-top {
  margin-top: 40px;

  @media (min-width: @t-width) {
    margin-top: 0;
  }
}

.questions__btn-link {
  margin-top: 32px;

  @media (min-width: @t-width) {
    margin-top: 0;
  }
}

.success__questions .questions__btn-link {
  @media (min-width: @t-width) {
    width: 100%;
  }
}

.questions__tel {
  color: @colorBlack;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  transition: 0.3s;

  @media (min-width: @t-width) {
    order: 1;
    margin-top: 0;
  }

  &:hover,
  &:focus {
    transition: 0.3s;
    color: @colorOrange;
  }
}

.success__questions .questions__tel {
  @media (min-width: @t-width) {
    order: 1;
  }
}

.questions__social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;

  @media (min-width: @t-width) {
    order: 2;
  }
}

.success__questions .questions__social {
  @media (min-width: @t-width) {
    order: 3;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.questions__link:hover path,
.questions__link:hover rect,
.questions__link:focus path,
.questions__link:focus rect {
  stroke: @colorOrange;
  transition: 0.3s;
}

.questions__time {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: @colorGray;
  line-height: 140%;
  letter-spacing: 0.14px;
  margin-top: 4px;
}

.success__questions .questions__time {
  @media (min-width: @t-width) {
    order: 2;
  }
}