.search {
  display: none;

  @media (min-width: @t-width) {
    display: flex;
  }
}


.search__input {
  width: 312px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: @colorLightGray;
  margin: 0;
  padding: 17px 24px;
  font-size: 14px;
  line-height: 16px;
  color: @colorBlack;
  letter-spacing: 0.14px;
  outline: none;

  @media (min-width: @d-width) {
    width: 409px;
  }
}

.search__input::placeholder {
  color: @colorGray;
}

.search__wrapper-select {
  display: flex;
  position: relative;
  background-color: @colorLightGray;
  box-sizing: border-box;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: @colorGray;
    top: 10px;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }


  &[data-state="active"] {
    .search__select__title {
      &::before {
        @media (min-width: @t-width) {
          transform: translate(-3px, -50%) rotate(-45deg);
        }
      }

      &::after {
        @media (min-width: @t-width) {
          transform: translate(3px, -50%) rotate(45deg);
        }
      }
    }
    
    .search__select__content {
      opacity: 1;
    }
    
    .search__select__label + .search__select__input + .search__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.search__select__title {
  color: @colorBlack;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 47px 8px 16px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;

  &::before,
  &::after {
    @media (min-width: @t-width) {
    content: "";
      position: absolute;
      top: calc(50% - 2px);
      right: 16px;
      display: block;
      width: 8px;
      height: 2px;
      transition: all 0.3s ease-out;
      background-color: @colorBlack;
      transform: translate(-2px, -50%) rotate(45deg);
    }
  }

  &::after {
    @media (min-width: @t-width) {
      transform: translate(2px, -50%) rotate(-45deg);
    }
  }
}

.search__select__content {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: calc(100% - 2px);
  background-color: @colorLightGray;
  border: 1px solid @colorGray;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 10;
}

.search__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.search__select__label {
  display: flex;
  align-items: center;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}

.search__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: @colorLightGray;
  box-sizing: border-box;
  padding-left: 21px;
  padding-right: 21px;
  position: relative;
}


//мобильный поиск

.main-nav__wrapper-submenu--active {
  .main-nav__wrapper-search {
    padding: 50px 5px 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
  }

  .search {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }

  // .search__wrapper-select {
  //   position: static;
  // }

  .main-nav__search-title {
    width: 100%;
  }

  .search__label-input {
    flex-grow: 1;
  }

  .search__input {
    width: 100%;
  }

  .search__select__title {
    padding: 0 18px;
  }

  .search__select__title span {
    display: none;
  }

  .search__select__title svg {
    width: 18px;
    height: 18px;
  }

  .search__select__title svg path,
  .search__select__title svg ellipse {
    stroke: @colorBlack;
  }
} 

