@m-width: 360px;
@x-width: 600px;
@t-width: 1200px;
@d-width: 1920px;
@2d-width: 2100px;

@colorExtraBlack : #222222;
@colorBlack: #3a3a3a;
@colorDarkGray: #666666;
@colorGray: #a0a0a0;
@colorLightGray: #f5f5f5;
@colorWhite: #ffffff;
@colorOrange: #ff8b20;
@colorOrangeHover: #ff9d42;
@colorDopBlue: #d5e5f1;
@colorDopGreen: #ddefdc;
@colorDopPink: #fde0e2;
@colorDopRed: #fe4848;
@colorDopOrange: #d77418;
@colorDopGray: #d7d7d7;
@colorModalBlack: #000000;
@bgColorSlider: #e2e2e2;

:root {
  --index: calc(1vw + 1vh);
  --sectionPT: 50px;
  --sectionPB: 50px;
  --container: 15px;
  --paddingTop: 40px;
  --paddingBot: 40px;
  
  @media (min-width: @t-width) {
    --sectionPT: 90px;
    --sectionPB: 90px;
    --container: 120px;
    --paddingTop: 60px;
    --paddingBot: 60px;
  }

  @media (min-width: @d-width) {
    --container: 290px;
  }
}


@marginTop: 40px;